<% players.each |player| do %>
  <div>
    <label>Username</label>
    <p><%= player.name %></p>
    <%= link_to 'Delete', delete_player_path(player.id) %>
  </div>
<% end %>

<%= link_to 'Register Player', new_player_path %>
